<!--<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form class="card mb-4">
        <div class="card-header">Detalles de la cuenta</div>
        <div class="card-body">
          <div class="mb-3">
            <label for="avatarFile" class="small mb-1">Avatar:</label>
            <input type="file" class="form-control-file" id="avatarFile" name="avatarFile" accept=".png, .jpg, .jpeg"
              (change)="onFileSelected($event)">
          </div>
          <div class="mb-3">
            <label class="small mb-1" for="userEmail">Usuario (Email)</label>
            <p>{{user?.email}}</p>
          </div>
            <div class="mb-3">
              <label class="small mb-1" for="userName">Nombre</label>
              <input class="form-control" name="userName" type="text" [(ngModel)]="name" placeholder="{{user?.name}}">
            </div>
            <div class="mb-3">
              <label class="small mb-1" for="userLastName">Apellido</label>
              <input class="form-control" name="userLastName" type="text" [(ngModel)]="lastName"
                     placeholder="{{user?.lastName}}">
            </div>
            <button class="btn btn-style btn-third"  (click)="editUser()">Guardar cambios</button>
            <button class="btn btn-style btn-third"  (click)="logOut()">Cerrar sesión</button>
            <button class="btn btn-style btn-third" (click)="deleteUser()">Eliminar cuenta</button>
            </div>
            </form>
    </div>
  </div>
</div>
<section class="w3l-clients" id="clients">-->
  <!-- /grids -->
  <div class="card mb-4">
    <br>
    <div class="card-header">Lo que nuestros clientes dicen</div>
    <div class="card-body">

      <div class="container">
        <div *ngFor="let review of reviews | slice:0:numReviewsToShow" class="review card mb-3">
          <div class="card-body">
            <h4 class="card-title">{{review.titleReview}}</h4>
            <p class="card-text">{{review.contentReview}}</p>
            <div class="review-rating"> estrellas: {{review.ratingReview}}
            </div>
          </div>
        </div>
      </div>
      <button *ngIf="showMoreButton" class="btn btn-primary mx-auto" (click)="showMoreReviews()">Mostrar más</button>
    </div>
  </div>

