<!DOCTYPE html>
<html>

<head>
    <title>Total Ratings</title>
</head>

<body>

    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        var labelsName = "{{labels}}";
        var datas = "{{datas}}";
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelsName,
                datasets: [{
                    label: '# de estrellas',
                    data: datas,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>



</body>

</html>