{{>header}}
<!--banner-slider-->
<!-- main-slider -->
<section class="w3l-main-slider" id="home">
  <div class="banner-content">
    <div id="demo-1"
      data-zs-src='["assets/images/banner1.jpg", "assets/images/banner2.jpg","assets/images/banner3.jpg", "assets/images/banner4.jpg"]'
      data-zs-overlay="dots">
      <div class="demo-inner-content">
        <div class="container">
          <div class="banner-infhny">
            <h3>No tienes que irte lejos para encontrar lo que importa</h3>
            <h6 class="mb-3">Descubre tu nueva aventura</h6>
            <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
              <div class="booking-form">
                <div class="row book-form">
                  <div class="form-input col-md-4 mt-md-0 mt-3">

                    <select id="menuDesplegable" class="selectpicker">
                      <option value="">Destino</option>
                      {{#services}}
                        <option value="/services/{{id}}">{{nameDestination}}</option>
                      {{/services}}
                    </select>

                  </div>
                  <div class="form-input col-md-4 mt-md-0 mt-3">

                    <input type="date" name="" placeholder="Date" required="">
                  </div>
                  <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                    <button id="btn" type="submit" onclick="irAPagina()" class="btn btn-style btn-secondary"><span
                        class="fa fa-search mr-3" aria-hidden="true"></span> Buscar</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <br>
  <br>
  <div style="text-align: center;">
    <button onclick="location.href='/rating'">COMO VALORAN LOS DESTINOS NUESTROS CLIENTES</button>
  </div>
  <br>
  <br>
</section>

{{>footer}}

</html>