{{>header}}
<!--  Work gallery section -->
<section class="grids-1 py-5">
  <div class="grids py-lg-5 py-md-4">
    <div class="container">
        <br>
      <h3 class="hny-title mb-5">Lo que opinan nuestros clientes</h3>


    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        var labelsName = "{{labels}}";
        var datas = "{{datas}}";
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelsName,
                datasets: [{
                    label: '# de estrellas',
                    data: datas,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>



</body>

</html>