{{>header}}
<!--  Work gallery section -->
<section class="grids-1 py-5">
  <div class="grids py-lg-5 py-md-4">
    <div class="container">
      <h3 class="hny-title mb-5">Destinos</h3>
      <div class="row">
        {{#services}}
        <div class="col-lg-4 col-md-4 col-6">
          <div class="column">
            <a href="/services/{{id}}"><img src="/{{id}}/imageTitle" alt=""
                class="img-fluid"></a>
            <div class="info">
              <h4><a href="/services/{{id}}">{{nameDestination}}</a></h4>
              <p>{{contentDestination}} </p>
              <div class="dst-btm">
                <h6 class="">Desde</h6>
                <span>&euro;{{price}}</span>
              </div>
            </div>
          </div>
          <br><br>
        </div>
        {{/services}}

      </div>
      <div id="load-more-container">
        {{#services.hasNext}}
        <button id="load-more-button" data-page="{{services.nextPageable.pageNumber}}">Mostrar más</button>
        {{/services.hasNext}}
      </div>


      <script>
        const loadMoreButton = document.querySelector('#load-more-button');
        const servicesContainer = document.querySelector('.row');

        loadMoreButton.addEventListener('click', function () {

          const nextPage = this.getAttribute('data-page');
          event.preventDefault();


          // We make the Ajax request to the server to get the services of the following page, without reloading the entire page
          setTimeout(function () {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '?page=' + nextPage);
            xhr.onload = function () {
              if (xhr.status === 200) {
                // We convert the server response to HTML and add it to the services container.
                const parser = new DOMParser();
                const html = parser.parseFromString(xhr.response, 'text/html');
                servicesContainer.innerHTML += html.querySelector('.row').innerHTML;

                //Update the page number of the "Show more" button and hide the button if there are no more pages.
                const newPage = parseInt(nextPage) + 1;
                loadMoreButton.setAttribute('data-page', newPage);
                if (!html.querySelector('#load-more-button')) {
                  loadMoreButton.style.display = 'none';
                }
                //Avoid scroll down when pressed the botton
                window.scrollTo({
                  top: servicesContainer.offsetTop,
                  behavior: "smooth"
                });
              } else {
                console.error('Error en la carga de Destinos');
              }
            };
            xhr.send();

          }, 500);
        });

      </script>
    </div>
  </div>
</section>
{{>footer}}

</html>