{{>header}}
<style>
    .reviewPagination {
        text-align: center;
    }

    .reviewPagination a {
        color: blue;
        text-decoration: none;
        border-bottom: 1px solid blue;
    }

</style>
<br><br><br><br>
<div class="card mb-4">
    <div class="card-header">Usuarios</div>
    <div class="card-body">
        {{#users}}
        <p>{{email}}</p>
        <form method="post" action="/administrator/user/{{id}}">
            <div class="mb-3">
                <label class="small mb-1" for="userNameAdmin">Nombre</label>
                <input class="form-control" name="userNameAdmin" type="text" value="{{name}}">
            </div>
            <!-- Form Group (last name)-->
            <div class="mb-3">
                <label class="small mb-1" for="userLastNameAdmin">Apellido</label>
                <input class="form-control" name="userLastNameAdmin" type="text" value="{{lastName}}">
            </div>
            <!-- Save changes button-->
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            <input type="hidden" name="_csrf" value="{{token}}" />

            <a href="/deleteUser/{{id}}" class="btn btn-primary">Eliminar</a>
        </form>
        {{/users}}
    </div>

    <div class="card-header">Nuevo destino</div>
    <div class="card-body">
        <form method="post" action="/administrator/addDestination" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="nameDestination">Nombre del destino:</label>
                <input type="text" id="nameDestination" name="nameDestination" required>
            </div>
            <div class="mb-3">
                <label for="contentDestination">Contenido del destino:</label>
                <textarea id="contentDestination" name="contentDestination" required></textarea>
            </div>
            <div class="mb-3">
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" step="10.0" required>
            </div>

            <div class="mb-3">
                <label for="titleImageFile">Archivo de imagen:</label>
                <input type="file" id="titleImageFile" name="titleImageFile">
            </div>
            <button type="submit">Agregar destino</button>
            <input type="hidden" name="_csrf" value="{{token}}" />
        </form>
    </div>


    <div class="card-header">Destinos</div>
    <div class="card-body">
        {{#destinations}}
        <div class="mb-3">{{nameDestination}}
            <a href="/deleteDestination/{{id}}">Eliminar Destino</a>
        </div>
        <br>
        {{/destinations}}
    </div>

    <div class="card-header">Reseñas</div>
    {{#reviews}}
    <div class="review-box">
        <div class="review-contentbox">
            <h4 class="review-title">{{titleReview}}</h4>
            <p class="review-content">{{contentReview}}</p>
            <a href="/deleteReview/{{id}}">Eliminar Review</a>
        </div>
    </div>
    {{/reviews}}
    <div class="reviewPagination">
        {{#reviews.hasPrevious}}
        <a href="?page={{reviews.previousPageable.pageNumber}}&size={{reviews.previousPageable.pageSize}}">
            Anterior
        </a>
        {{/reviews.hasPrevious}}

        {{#reviews.hasNext}}
        <a href="?page={{reviews.nextPageable.pageNumber}}&size={{reviews.nextPageable.pageSize}}">
            Siguiente
        </a>
        {{/reviews.hasNext}}
    </div>

    {{>footer}}

    </html>