<footer>
    <!-- footer -->
    <section class="w3l-footer">
      <div class="w3l-footer-16-main py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 column">
              <div class="row">
                <div class="col-md-4 column">
                  <h3>Página web</h3>
                  <ul class="footer-gd-16">
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/services">Destinos</a></li>
                    <li><a href="/contact">Contacto</a></li>
                  </ul>
                </div>
                <div class="col-md-4 column mt-md-0 mt-4">
                  <h3>Nuestros servicios</h3>
                  <ul class="footer-gd-16">
                    <li><a href="/privacyPolicy">Política de privacidad</a></li>
                    <li><a href="/privacyPolicy">Términos</a></li>
                    <li><a href="/services">Servicios</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
              <h3>Boletín informativo </h3>
              <div class="end-column">
                <h4>Entérate de nuestras últimas ofertas</h4>
                <form action="/newsletter" class="subscribe" method="post">
                  <input type="email" name="email" placeholder="Email" required="">
                  <button type="submit">¡Vamos!</button>
                  <!-- <input type="hidden" name="_csrf" value="{{token}}"/> -->
                </form>
                <p>Regístrese para recibir nuestras últimas noticias y artículos. No le enviaremos correos no deseados.
                </p>
              </div>
            </div>
          </div>
          <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
            <div class="columns text-lg-left text-center">
              <p>&copy; 2023 IdealTrip. All rights reserved.Design by <a href="https://w3layouts.com/" target="_blank">
                  W3Layouts</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
  

