<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Alojamiento</title>
  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <!-- google fonts -->
  <!-- Template CSS -->
  <link rel="stylesheet" href="../assets/css/style-starter.css">
  <link rel="stylesheet" href="../assets/css/alojamientos.css">
  <!-- Template CSS -->
</head>

<body>
  <!--header-->
  <header id="site-header" class="fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg stroke">
        <h1><a class="navbar-brand mr-lg-5" href="../index.html">
            IdealTrip
          </a></h1>
        <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link" href="../services.html">Destinos</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="../contact.html">Contacto</a>
            </li>

          </ul>
        </div>
        <div class="d-lg-block d-none">
          <a href="../login.html" class="btn btn-style btn-secondary">Iniciar sesión</a>
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  
  
  <div class="house-details">
  <div class="house-title">
    <h1>Rasdu View Inn
</h1>
    <div class="row">
     <div>
      <p>Localización: Maldivas</p>
     </div>
    </div>
   </div>
   <div class="gallery">
    <div class="gallery-img-1"><img src="../assets/images/alojamiento/maldivas1.1.jpg" alt="Foto alojamiento"></div>
    <div><img src="../assets/images/alojamiento/maldivas1.2.jpg" alt="Foto alojamiento"></div>
    <div><img src="../assets/images/alojamiento/maldivas1.3.jpg" alt="Foto alojamiento"></div>
    <div><img src="../assets/images/alojamiento/maldivas1.4.jpg" alt="Foto alojamiento"></div>
    <div><img src="../assets/images/alojamiento/maldivas1.5.jpg" alt="Foto alojamiento"></div>
   </div>
   <div class="small-details">
    <h2>Alquiler habitación</h2>
    <p>4 personas &nbsp; &nbsp; 2 camas &nbsp; &nbsp; 1 baño </p>
    <h5>150€ /noche</h5>
   </div>
   <hr class="line">
   <form class="check-form">
    <div>
     <label >Check-in</label>
     <input type="text" placeholder="Añadir fecha">
    </div>
    <div>
     <label >Check-out</label>
     <input type="text" placeholder="Añadir fecha">
    </div>
    <div class="guest-field">
     <label >Límite</label>
     <input type="text" placeholder="4 personas">
    </div>
    <a class="button" href="../purchase.html">Comprar</a>
   </form>

   <ul class="detail-list">
    <li><i class="fa-solid fa-house"></i>Jardín privado
     <span>Esta casa de alquiler cuenta con un hermoso jardín privado, perfecto para relajarse y disfrutar del aire fresco. Con una amplia terraza y áreas verdes, es el lugar perfecto para una tarde de barbacoa o simplemente para disfrutar del sol.</span>
    </li>
    <li>Habitaciones amplias
     <span>Cada una de las habitaciones de esta casa de alquiler es espaciosa y cómoda, con armarios de alta calidad y ventanas grandes que permiten una entrada abundante de luz natural. Además, los techos altos y los diseños elegantes le dan a cada habitación una sensación de amplitud.</span>
    </li>
    <li>Garaje privado
     <span>Con un garaje privado y seguro, no tendrás que preocuparte por buscar un lugar para estacionar tu vehículo. Además, el garaje cuenta con una entrada directa a la casa, lo que te ahorrará tiempo y esfuerzo.</span>
    </li>
    <li>Ubicación céntrica
     <span>Esta hermosa casa de alquiler se encuentra en una ubicación céntrica, cerca de tiendas, restaurantes y transporte público. Además, está a solo un corto paseo de parques y áreas verdes, lo que te permitirá disfrutar de la naturaleza sin salir de la ciudad.</span>
    </li>
   </ul>

   <hr class="line">
   <p class="home-descr">Esta casa de alquiler es el hogar perfecto para aquellos que buscan un equilibrio entre elegancia y comodidad. Con sus detalles en madera y techos altos, su diseño elegante y acogedor crea un ambiente acogedor y sofisticado. Los amplios espacios y ventanales grandes permiten una luminosidad natural que ilumina todas las habitaciones, incluyendo la cocina totalmente equipada con electrodomésticos modernos y una isla central. El dormitorio principal cuenta con un baño privado y un vestidor amplio, creando un oasis de tranquilidad. Además, el exterior cuenta con una terraza y un jardín privado para disfrutar de las tardes de verano. Con su ubicación privilegiada cerca de tiendas, restaurantes y transporte público, esta casa es una opción ideal para aquellos que buscan una vida activa y conectada, todo en un mismo lugar.</p>
   <hr class="line">
   <div class="map">
    <h3>Localización en mapa</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.6943610796532!2d72.9927701!3d4.2634683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b4059353498bb27%3A0x725acaffdc7e1bf3!2sRasdu%20View%20Inn!5e0!3m2!1ses!2ses!4v1676047461285!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <b>Maldivas</b>
    <p>"Maldivas, paraiso natural."</p>
   </div>

   <hr class="line">
   <div class="map">
    <h3>Localización en Street View</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!4v1676047440085!6m8!1m7!1sCAoSLEFGMVFpcFBwVTBlSE5uMGtTZTgwOTNRUnFwbVlQUjhOSVhnM0JVancyb2Np!2m2!1d4.2634683!2d72.9927701!3f170.68325763793726!4f11.885678211503674!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
   </div>
   <hr class="line">

   <div class="host">
    <img src="../assets/images/alojamiento/hostmaldivas1.jpg" alt="imagen del host">
    <div>
     <h2>Alquilado por Paul</h2>
     <p>45 reviews &nbsp; &nbsp; Frecuencia respuesta: 90% &nbsp; &nbsp; Tiempo respuesta: 40 min</p>
     
    </div>
   </div>

   <hr class="line">
   
  </div>
  

     
      <script>
        $(function () {
          $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
          })
        });
      </script>
    </section>
    <!-- //footer -->
  </footer>
  <!-- Template JavaScript -->
  <script src="../assets/js/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/theme-change.js"></script>
  <!--/slider-js-->
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/modernizr-2.6.2.min.js"></script>
  <script src="../assets/js/jquery.zoomslider.min.js"></script>
  <!--//slider-js-->
  <script src="../assets/js/owl.carousel.js"></script>
  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 1,
            nav: false
          },
          1000: {
            items: 1,
            nav: false,
            loop: true
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->
  <!-- stats number counter-->
  <script src="../assets/js/jquery.waypoints.min.js"></script>
  <script src="../assets/js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="../assets/js/bootstrap.min.js"></script>

</body>

</html>