<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Alpes Julianos</title>
    <link rel="icon" href="../assets/images/favicon.png" type="image/png" />

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <!-- google fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style-starter.css">
    <link rel="stylesheet" href="../assets/css/tourism.css">
    <!-- Template CSS -->
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1><a class="navbar-brand mr-lg-5" href="../index">
                        IdealTrip
                    </a></h1>
                <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../index">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../services">Destinos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../contact">Contacto</a>
                        </li>

                    </ul>
                </div>
                <div class="d-lg-block d-none">
                    <a href="../login" class="btn btn-style btn-secondary">Iniciar sesión</a>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!-- //header -->
    <!-- about breadcrumb -->
    <figure>
        <div class="title">
            <h1>Sitios más emblemáticos de los Alpes Julianos</h1>
        </div>
        <div class="gallery">
            <div class="tourismImage">
                <img src="../assets/images/informacion/LagoBled.jpg" alt="">
                <div class="capa">
                    <h3>Lago Bled</h3>
                    <p>Bled es la imagen del paraíso. Una perla turística de dimensiones mundiales en el margen del
                        Parque Nacional Triglav que estuvo entre los nominados para las siete nuevas maravillas del
                        mundo</p>
                </div>
            </div>
            <div class="tourismImage">
                <img src="../assets/images/informacion/CascadaPericnik.jpg" alt="">
                <div class="capa">
                    <h3>Cascada Pericnik</h3>
                    <p> Está situada en el espectacular valle de Vrata y cerca de la aldea de Mojstrana. La cascada
                        consta de dos partes</p>
                </div>
            </div>
            <div class="tourismImage">
                <img src="../assets/images/informacion/CascadaKozjak.jpg" alt="">
                <div class="capa">
                    <h3>Cascada Kozjak</h3>
                    <p>Una de las cascadas con más encanto de Eslovenia
                        La senda para llegar es fácil y corta pero la sorpresa final es mayúscula. Una grieta entre
                        altas paredes deja colar la luz y el agua en un rincón de cuento</p>
                </div>
            </div>
            <div class="tourismImage">
                <img src="../assets/images/informacion/SobreElRioSoca.jpg" alt="">
                <div class="capa">
                    <h3>Sobre el río Soca</h3>
                    <p>El valle del río Soča es un paraíso para unas experiencias activas al aire libre. Además, puedes
                        disfrutar de excelente gastronomía y festivales de música, descubrir la historia del valle, o
                        simplemente llenarte de energía en la naturaleza pintoresca</p>
                </div>
            </div>
            <div class="tourismImage">
                <img src="../assets/images/informacion/ParqueNacionaldelTriglav.jpg" alt="">
                <div class="capa">
                    <h3>Parque nacional del Triglav</h3>
                    <p>Es el único parque nacional de Eslovenia. Recibe su nombre por el monte Triglav, un símbolo
                        nacional de Eslovenia. El Triglav, la montaña más alta del país con 2.864m</p>
                </div>
            </div>
            <div class="tourismImage">
                <img src="../assets/images/informacion/mangartPass.jpg" alt="">
                <div class="capa">
                    <h3>Mangart</h3>
                    <p>Situada en la frontera entre Italia y Eslovenia. Con una elevación de 2.679 metros, es el tercer
                        pico más alto de Eslovenia, después de Triglav y Škrlatica</p>
                </div>
            </div>
        </div>
    </figure>


    <!-- Template JavaScript -->
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/theme-change.js"></script>
    <!--/slider-js-->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/modernizr-2.6.2.min.js"></script>
    <script src="../assets/js/jquery.zoomslider.min.js"></script>
    <!--//slider-js-->
    <script src="../assets/js/owl.carousel.js"></script>
    <!-- script for tesimonials carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    736: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false,
                        loop: true
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->
    <!-- stats number counter-->
    <script src="../assets/js/jquery.waypoints.min.js"></script>
    <script src="../assets/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats number counter -->

    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="../assets/js/bootstrap.min.js"></script>
</body>

</html>