<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>París</title>
    <link rel="icon" href="../assets/images/favicon.png" type="image/png" />

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <!-- google fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style-starter.css">
    <link rel="stylesheet" href="../assets/css/tourism.css">
    <!-- Template CSS -->
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1><a class="navbar-brand mr-lg-5" href="../index.html">
                        IdealTrip
                    </a></h1>
                <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="../services.html">Destinos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../contact.html">Contacto</a>
                        </li>

                    </ul>
                </div>
                <div class="d-lg-block d-none">
                    <a href="../login.html" class="btn btn-style btn-secondary">Iniciar sesión</a>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!-- //header -->
    <!-- about breadcrumb -->
    <figure>
        <div class="title">
            <h1>Comida típica de Atenas</h1>
        </div>
        <div class="gallery">
            <div class="tourismImage">
                <img src="../assets/images/informacion/Tzatziki.jpg" alt="">
                <div class="capa">
                    <h3>Tzatziki</h3>
                    <p>Es una salsa griega de yogur hecha de pepino y ajo. Es un complemento ácido para las carnes
                        asadas, el kebab (brochetas) y los faláfeles (croquetas).</p>
                </div>
            </div>
            <div class="tourismImage">
                <img src="../assets/images/informacion/Spanakopita.jpg" alt="">
                <div class="capa">
                    <h3>Spanakopita</h3>
                    <p>Es un pastel salado griego relleno de espinaca troceada, queso feta, cebolla o cebolleta, huevo y
                        condimentos varios</p>
                </div>
            </div>
            <div class="tourismImage">
                <img src="../assets/images/informacion/Tyropita.jpg" alt="">
                <div class="capa">
                    <h3>Tyropita</h3>
                    <p>Es un pastel salado típico de la cocina griega elaborado con capas de masa filo y relleno con una
                        mezcla de queso y huevo</p>
                </div>
            </div>
            <div class="tourismImage">
                <img src="../assets/images/informacion/Spanakotiropites.jpg" alt="">
                <div class="capa">
                    <h3>Spanakotiropites</h3>
                    <p>es una empanadilla típica de Grecia. Su principal ingrediente de relleno suele ser el queso feta.
                        La empanada argentina es notablemente similar, aunque las dimensiones de la spanakotiropita son
                        bastante menores (en este caso más semejantes a las gyoza japonesas).</p>
                </div>
            </div>
            <div class="tourismImage">
                <img src="../assets/images/informacion/Saganaki.jpg" alt="">
                <div class="capa">
                    <h3>Saganaki</h3>
                    <p>Es un sencillo y tradicional plato de la cocina griega, basado en queso feta frito en aceite de
                        oliva</p>
                </div>
            </div>
            <div class="tourismImage">
                <img src="../assets/images/informacion/Dolmades.jpg" alt="">
                <div class="capa">
                    <h3>Dolmades</h3>
                    <p>Los dolmades pueden definirse como enrollados de hojas de parra rellenos una mezcla que suele contener carne, arroz, cebolla, piñones y uvas
                        pasas.</p>
                </div>
            </div>
        </div>
    </figure>


    <!-- Template JavaScript -->
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/theme-change.js"></script>
    <!--/slider-js-->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/modernizr-2.6.2.min.js"></script>
    <script src="../assets/js/jquery.zoomslider.min.js"></script>
    <!--//slider-js-->
    <script src="../assets/js/owl.carousel.js"></script>
    <!-- script for tesimonials carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    736: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false,
                        loop: true
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->
    <!-- stats number counter-->
    <script src="../assets/js/jquery.waypoints.min.js"></script>
    <script src="../assets/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats number counter -->

    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="../assets/js/bootstrap.min.js"></script>
</body>

</html>