<section class="grids-1 py-5">
    <div class="grids py-lg-5 py-md-4">
      <div class="container">
        <h3 class="hny-title mb-5">Destinos</h3>
        <div class="row">

          <div class="col-lg-4 col-md-4 col-6" *ngFor="let destination of destinations">
            <div class="column">
              <a (click)="goToDestination(destination.id)"><img [src]="destinationImage(destination)" alt=""
                  class="img-fluid"></a>
              <div class="info">
                <h4><a (click)="goToDestination(destination.id)">{{destination.nameDestination}}</a></h4>
                <p>{{destination.contentDestination}} </p>
                <div class="dst-btm">
                  <h6 class="">Desde</h6>
                  <span>&euro;{{destination.price}}</span>
                </div>
              </div>
            </div>
            <br><br>
          </div>
  
        </div>
        <div id="load-more-container">
          
          <!-- <button id="load-more-button" data-page="{{services.nextPageable.pageNumber}}">Mostrar más</button>           -->
          <button class="btn btn-style btn-secondary" id="load-more-button" >Mostrar más</button>          
        </div>
















<!-- <button (click)="search();">Mostrar destinos por consola via API</button>
<a routerLink="error-page">Pag error</a> -->
