<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Destinos</title>
  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <!-- google fonts -->
  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">
  <!-- Template CSS -->
</head>

<body>
  <!--header-->
  <header id="site-header" class="fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg stroke">
        <h1><a class="navbar-brand mr-lg-5" href="index.html">
            IdealTrip
          </a></h1>
        <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="services.html">Destinos</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contacto</a>
            </li>

          </ul>
        </div>
        <div class="d-lg-block d-none">
          <a href="login.html" class="btn btn-style btn-secondary">Iniciar sesión</a>
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!-- //header -->
  <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container">
        <h2 class="title">Destinos </h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="index.html">Inicio</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Destinos </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
 <!--  Work gallery section -->
 <section class="grids-1 py-5">
  <div class="grids py-lg-5 py-md-4">
      <div class="container">
          <h3 class="hny-title mb-5">Destinos</h3>
          <div class="row">
              <div class="col-lg-4 col-md-4 col-6">
                  <div class="column">
                      <a href="PARIS/informationParis.html"><img src="assets/images/g1.jpg" alt="" class="img-fluid"></a>
                      <div class="info">
                          <h4><a href="PARIS/informationParis.html">París</a></h4>
                          <p>La ciudad del amor </p>
                          <div class="dst-btm">
                            <h6 class="">Desde</h6>
                            <span>100€</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 mt-md-0">
                  <div class="column">
                      <a href="BANGKOK/informationBangkok.html"><img src="assets/images/g2.jpg" alt="" class="img-fluid"></a>
                      <div class="info">
                          <h4><a href="BANGKOK/informationBangkok.html">Bangkok</a></h4>
                          <p>El corazón vibrante de Tailandia </p>
                          <div class="dst-btm">
                            <h6 class="">Desde </h6>
                            <span>30€</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 mt-md-0 mt-4">
                  <div class="column">
                      <a href="MALDIVAS/informationMaldivas.html"><img src="assets/images/g3.jpg" alt="" class="img-fluid"></a>
                      <div class="info">
                          <h4><a href="MALDIVAS/informationMaldivas.html">Maldivas</a></h4>
                          <p>Un oasis de belleza natural </p>
                          <div class="dst-btm">
                            <h6 class="">Desde </h6>
                            <span>150€</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                  <div class="column">
                      <a href="ATENAS/informationAtenas.html"><img src="assets/images/g4.jpg" alt="" class="img-fluid"></a>
                      <div class="info">
                          <h4><a href="ATENAS/informationAtenas.html">Atenas</a></h4>
                          <p>Civilización antigua</p>
                          <div class="dst-btm">
                            <h6 class="">Desde </h6>
                            <span>120€</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                  <div class="column">
                      <a href="LONDRES/informationLondres.html"><img src="assets/images/g5.jpg" alt="" class="img-fluid"></a>
                      <div class="info">
                          <h4><a href="LONDRES/informationLondres.html">Londres</a></h4>
                          <p>Vibrante, Histórica y Diversa</p>
                          <div class="dst-btm">
                            <h6 class="">Desde </h6>
                            <span>250€</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                  <div class="column">
                      <a href="ALPESJULIANOS/informationAlpesJulianos.html"><img src="assets/images/g6.jpg" alt="" class="img-fluid"></a>
                      <div class="info">
                          <h4><a href="ALPESJULIANOS/informationAlpesJulianos.html">Alpes Julianos</a></h4>
                          <p>Montañas salvajes y majestuosas</p>
                          <div class="dst-btm">
                          <h6 class=""> Desde</h6>
                          <span>300€</span>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                <div class="column">
                    <a href="SANTAMARTA/informationSantaMara.html"><img src="assets/images/g7.jpg" alt="" class="img-fluid"></a>
                    <div class="info">
                        <h4><a href="SANTAMARTA/informationSantaMara.html">Santa Marta</a></h4>
                        <p>Vibrante, Costera y Diversa</p>
                        <div class="dst-btm">
                          <h6 class="">Desde </h6>
                          <span>500€</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                <div class="column">
                    <a href="SINGAPUR/informationSingapur.html"><img src="assets/images/g8.jpg" alt="" class="img-fluid"></a>
                    <div class="info">
                        <h4><a href="SINGAPUR/informationSingapur.html">Singapur</a></h4>
                        <p>Moderna, Cosmopolita y Contraste</p>
                        <div class="dst-btm">
                          <h6 class="">Desde </h6>
                          <span>240€</span>
                        </div>
                    </div>
                </div>
            </div>
            
          </div>
      </div>
</div></section>
<!--  //Work gallery section -->
<!-- grids block 5 -->
  <!--/w3l-footer-29-main-->
  <footer>
    <!-- footer -->
    <section class="w3l-footer">
      <div class="w3l-footer-16-main py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 column">
              <div class="row">
                <div class="col-md-4 column">
                  <h3>Página web</h3>
                  <ul class="footer-gd-16">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="services.html">Destinos</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                  </ul>
                </div>
                <div class="col-md-4 column mt-md-0 mt-4">
                  <h3>Nuestros servicios</h3>
                  <ul class="footer-gd-16">
                    <li><a href="#url">Política de privacidad</a></li>
                    <li><a href="#url">Términos</a></li>
                    <li><a href="services.html">Servicios</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
              <h3>Boletín informanivo </h3>
              <div class="end-column">
                <h4>Entérate de nuestras últimas ofertas</h4>
                <form action="#" class="subscribe" method="post">
                  <input type="email" name="email" placeholder="Email" required="">
                  <button type="submit">¡Vamos!</button>
                </form>
                <p>Regístrese para recibir nuestras últimas noticias y artículos. No le enviaremos correos no deseados.
                </p>
              </div>
            </div>
          </div>
          <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
            <div class="columns text-lg-left text-center">
              <p>&copy; 2020 IdealTrip. All rights reserved.Design by <a href="https://w3layouts.com/" target="_blank">
                  W3Layouts</a>
              </p>
            </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };
  
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }
  
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- //move top -->
      <script>
        $(function () {
          $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
          })
        });
      </script>
    </section>
    <!-- //footer -->
  </footer>

  <!-- Template JavaScript -->
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/theme-change.js"></script>
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>