  <div class="catering">
    <div class="styleLinks">
      <h2><a (click)="goToCatering()">Restauración</a></h2>
    </div>
  </div>
  <div class="tourism">
    <div class="styleLinks">
      <h2><a (click)="goToTourism()">Turismo</a></h2>
    </div>
  </div>

  <div class="review">
    <div class="styleLinks">
      <h2><a (click)="goToReviews()">Opiniones</a></h2>
    </div>
  </div>

  <div class="lodging">
    <div class="styleLinks">
      <h2><a (click)="goToHouse()">Alojamientos</a></h2>
    </div>
  </div>

 